<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="./assets/fa/css/all.css">
    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed&display=swap" rel="stylesheet">
</head>

<body>
    <div class="contaier" id='app'>
        <div class='header'>
            <h2 class='headings'>To do list <i class="fas fa-list-alt"></i></h2>
            <button @click='show_popup()' class='btn' id='main-btn'> Add <i class="far fa-calendar-plus"></i></button>
        </div>
        <div class='content'>
            <div id='incomplete'>
                <h1 class='heading'>{{ myList }}</h1>
                <ul id='ul'>
                    <li v-for="todo in todos">
                        <span class='circle-container'> 
                            <i v-on:click='todo.isCompleted=false' v-if='todo.isCompleted' class="far fa-check-circle done"> </i>
                            <i v-on:click='todo.isCompleted=true' v-else class="far fa-circle circle undone"> </i>
                        </span>
                        <p class='dos'> {{ todo.name }} </p>
                    </li>
                </ul>
            </div>
        </div>


        <!-- popup window to add new todo -->
        <div class='popup-element' id='contaier-popoup'>
            <div v-if='showPopup' class='add-todo' id='popup'>
                <i @click='showPopup=false' class="far fa-window-close icon" id='close'></i>
                <h3>Add to do</h3>
                <input type="text" v-model="newToDoText" placeholder="Add your to-do" name="To-do" class='ip1' id='text-value'>
                <input @click='add_todo()' type="submit" class='ip2 add_todo' id='ip2' value="Add">
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>