html {
    outline: none;
}

body {
    background-color: #ecf0f1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 5em;
}

.contaier {
    height: 30em;
    width: 20em;
    border-radius: 2em;
    border: 2px solid gray;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 2fr;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: cover;
    background-repeat: no-repeat;
    background-size: auto;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    padding: 50px 0px;
}

.headings>i {
    color: #203A43;
    font-size: 20px;
}

.btn {
    position: relative;
    border: none;
    top: 30%;
    right: 0%;
    display: block;
    margin-left: 50px;
    height: 30px;
    background-color: #f1c40f;
    cursor: pointer;
    text-align: center;
    box-shadow: rgba(47, 53, 66, 1.0);
    clip-path: polygon(100% 0%, 100% 54%, 100% 100%, 0 100%, 0% 50%, 0 0);
    -webkit-box-shadow: 7px -5px 76px 17px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 7px -5px 76px 17px rgba(0, 0, 0, 0.47);
    box-shadow: 7px -5px 76px 17px rgba(0, 0, 0, 0.47);
}

.headings {
    position: relative;
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: #203A43;
    background-color: #f5f6fa;
    clip-path: polygon(100% 2%, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
}

.btn:active {
    opacity: .6;
}

.popup-element {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
}

#popup {
    display: none;
    position: absolute;
    top: -50%;
    margin: 0 auto;
    width: 100%;
    background-image: url(../images/bg2.jpg);
    background-position: center;
    height: 250px;
    border-radius: 2em;
    transition: all 990ms ease-in-out;
}

.add-todo>h3 {
    font-size: 30px;
    text-align: center;
    color: #fff;
    -webkit-box-shadow: 7px -5px 76px 17px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 7px -5px 76px 17px rgba(0, 0, 0, 0.47);
    box-shadow: 7px -5px 76px 17px rgba(0, 0, 0, 0.47);
}

.ip1 {
    display: block;
    margin: 30px auto;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 20em;
    opacity: .9;
}

.ip2 {
    border-radius: 2em;
    width: 6em;
    text-transform: uppercase;
    display: block;
    margin: auto;
    border: none;
    background: #e1b12c;
    color: #2f3640;
    padding: 10px;
    -webkit-box-shadow: 17px -5px 47px -8px rgba(231, 166, 26, 1);
    -moz-box-shadow: 17px -5px 47px -8px rgba(231, 166, 26, 1);
    box-shadow: 17px -5px 47px -8px rgba(231, 166, 26, 1);
    cursor: pointer;
    outline: none;
}

.ip2:active {
    opacity: .5
}

.ip1:focus::-webkit-input-placeholder {
    opacity: 0;
    outline: none;
}

.icon {
    position: relative;
    top: 5px;
    right: 10px;
    width: 100%;
    margin-left: -10px;
    margin-top: 10px;
    text-align: right;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.icon:active {
    opacity: .6;
}

.content {
    height: 50%;
    width: 100%;
    background-color: #ecf0f1;
    text-align: center;
    overflow-y: scroll;
    transition: all 990ms ease-in-out;
}

li {
    list-style-type: none;
    text-align: left;
    font-size: 20px;
}

.done {
    cursor: pointer;
    margin-right: 20px;
}

.done:active {
    opacity: .5;
}

.circle {
    cursor: pointer;
    margin-right: 20px;
}

.circle:active {
    opacity: .5;
}

span:active {
    opacity: 0.2;
}

.dos {
    display: inline;
}

.completed p {
    font-size: 15px;
    font-weight: bold;
    padding-left: 1.4em;
}

.heading {
    background-color: #203A43;
    font-size: 1em;
    letter-spacing: .1em;
    padding: 10px 10px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}

#contaier-popoup {
    width: 20em;
    display: block;
    margin: auto auto;
}

#container-popoup:hover .contaier {
    opacity: .2;
    border: 2px solid red;
}